/* -------------------------------------------------- */
/* Contact List                                       */
/* -------------------------------------------------- */
.contact {
  display: flex;
  gap: 1rem;
  align-items: center;
  cursor: pointer;
  border-bottom: solid 1px var(--lightBorder);
  padding: 1.5rem 0rem;
}

.contact .photo {
  display: block;
  border-radius: 50%;
  width: 60px;
  height: 60px;
}

.contact .userInfo {
  display: flex;
  flex: 1 1 auto;
  flex-flow: row wrap;
  align-items: center;
}

.contact .userInfo .name {
  font-weight: bold;
  flex: 1 1 50%;
}

.contact .userInfo .lastMessageTime {
  flex: 0 1 auto;
}

.contact .userInfo .lastMessage {
  flex: 1 1 100%;
}

/* -------------------------------------------------- */
/* Chat                                               */
/* -------------------------------------------------- */
#chat-content {
  display: flex;
  gap: 1rem;
  flex-flow: column nowrap;
  justify-content: start;
}

/* For iOS zoom problem */
#chat-content input {
  font-size: 16px;
}

#messageHistory {
  flex: 1 1 auto;
  display: flex;
  flex-flow: column wrap;
  padding-top: 1rem;

  @media screen and (min-width: 800px) {
    padding-top: 0px;
  }
}

#messageHistory .date {
  display: flex;
  align-items: center;
  border-radius: 15px;
}

#messageHistory .date:before,
#messageHistory .date:after {
  content: "";
  height: 1px;
  flex-grow: 1;
  background-color: var(--lightBorder);
}

#messageHistory .date span {
  border: 1px solid var(--lightBorder);
  border-radius: 15px;
  padding: 0.2rem 0.5rem;
}

#messageHistory .time {
  margin-left: auto;
  width: fit-content;
}

#messageHistory .messageBalloon {
  background-color: var(--pureWhite);
  border-radius: 15px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  padding: 0.2rem 0.5rem;
  margin-bottom: 0.5rem;
  margin-left: auto;
  width: fit-content;
}

#messageHistory .message-left {
  align-self: start;
  max-width: 90%;
}

#messageHistory .message-right {
  align-self: end;
  max-width: 90%;
}

#messageHistory .message-right .messageBalloon {
  background-color: var(--primary);
  color: white;
}

#sendMessage {
  display: flex;
  gap: 0.5rem;
  align-content: center;
  flex-flow: row nowrap;

  /* position: fixed;
  bottom: calc(2rem + 45px);
  right: 2rem;
  margin-left: 240px;
  width: calc(100% - 240px - 4rem); */
}

#sendMessage .message {
  flex: 1 1 auto;
  border-radius: 50px;
  border: solid 0.5px #ccc;
  padding: 0.5rem;
}

#sendMessage .message:focus {
  outline: none;
}

#sendMessage .button {
  flex: 0 0 auto;
  border-radius: 50%;
}

/* -------------------------------------------------- */
/* Chat Page Header                                   */
/* -------------------------------------------------- */
header .container .contactHeader {
  display: flex;
  gap: 1rem;
  align-items: center;
  @media screen and (min-width: 800px) {
    padding-left: 2rem;
    flex: 1 1 auto;
    flex-flow: row nowrap;
  }
}

.contactHeader .title {
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.contactHeader .photo {
  display: block;
  border-radius: 50%;
  width: 60px;
  height: 60px;
}

.contactHeader .information {
  display: flex;
  flex: 1 1 auto;
  flex-flow: column nowrap;
  align-items: start;
}

.contactHeader .information .name {
  font-weight: bold;
  text-align: left;
  white-space: nowrap;
}

.contactHeader .information .address {
  text-align: left;
  white-space: nowrap;
}
