/* -------------------------------------------------- */
/* Contact List                                       */
/* -------------------------------------------------- */
.contact {
  display: flex;
  gap: 1rem;
  align-items: center;
  cursor: pointer;
  padding: 1.5rem 0rem;
  background-color: var(--background-gray);
}

.contact .photo {
  display: block;
  border-radius: 50%;
  width: 68px;
  height: 68px;
}

.contact .userInfo {
  display: flex;
  flex: 1 1 10px;
  flex-flow: row wrap;
  align-items: center;
}

.contact .userInfo .name {
  font-weight: bold;
  flex: 1 1 50%;
}

.contact .userInfo .lastMessageTime {
  flex: 0 1 auto;
}

.contact .userInfo .lastMessage {
  flex: 1 1 100%;
  min-height: 28px;
}
.contact.has-updates {
  background-color: var(--pureWhite);
}
.contact.has-updates {
  font-weight: 600;
}
.contact.has-updates::after {
  top: 10px;
  right: 10px;
}
/* -------------------------------------------------- */
/* Chat                                               */
/* -------------------------------------------------- */
#chatWith {
  display: flex;
  flex-flow: column nowrap;
  gap: 0.5rem;
}
#chat-content {
  display: flex;
  gap: 1rem;
  flex-flow: column nowrap;
  justify-content: start;
}

/* For iOS zoom problem */
#chat-content input {
  font-size: 16px;
  line-height: 1.75em;
}

#messageHistory {
  flex: 1 1 auto;
  display: flex;
  flex-flow: column wrap;
  padding-top: 1rem;

  @media screen and (min-width: 800px) {
    padding-top: 0px;
  }
}

#messageHistory .date {
  display: flex;
  align-items: center;
  border-radius: 15px;
}

#messageHistory .date:before,
#messageHistory .date:after {
  content: "";
  height: 2px;
  flex-grow: 1;
  background-color: var(--trustworthyBlue100);
}

#messageHistory .date span {
  border: 2px solid var(--trustworthyBlue100);
  border-radius: 50px;
  padding: 0.2rem 0.5rem;
  color: var(--trustworthyBlue400);
  line-height: 1.2;
}

#messageHistory .time {
  color: var(--primary);
  width: fit-content;
}

#messageHistory .messageBalloon {
  background-color: var(--pureWhite);
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  padding: 0.2rem 0.5rem;
  margin-bottom: 0.5rem;
  width: fit-content;
  min-width: 100px;
}

#messageHistory .message-left {
  align-self: start;
  max-width: 90%;
}

#messageHistory .message-right {
  margin-left: auto;
  align-self: end;
  max-width: 90%;
}

#messageHistory .message-right .time {
  margin-left: auto;
  width: fit-content;
}

#messageHistory .message-right .messageBalloon {
  background-color: var(--trustworthyBlue100);
  color: var(--textBlack500);
}

#sendMessage {
  display: flex;
  gap: 0.5rem;
  align-content: center;
  flex-flow: row nowrap;
  padding-bottom: 2rem;
  position: relative;

  @media screen and (min-width: 800px) {
    padding-bottom: 0;
  }
}

#sendMessage .message {
  flex: 1 1 auto;
  border-radius: 50px;
  border: solid 0.5px #ccc;
  padding: 0.2rem 3rem 0.2rem 1rem;
}

#sendMessage .message:focus {
  outline: none;
}

#sendMessage .send {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;

  position: absolute;
  top: 2px;
  right: 2px;
}

#sendMessage .send:hover {
  background-color: transparent;
}

#sendMessage .send i::after {
  filter: none;
  /* filter: invert(18%) sepia(93%) saturate(7001%) hue-rotate(185deg) brightness(75%) contrast(84%); */
}

#sendingMsgNotAvailable {
  color: var(--disabledText);
}

/* -------------------------------------------------- */
/* Chat Page Header                                   */
/* -------------------------------------------------- */
header .container .contactHeader {
  display: flex;
  gap: 1rem;
  align-items: center;

  @media screen and (min-width: 800px) {
    padding-left: 2rem;
    flex: 1 1 auto;
    flex-flow: row nowrap;
  }
}

.contactHeader .title {
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.contactHeader .photo {
  display: block;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  margin: 4px;
}

.contactHeader .information {
  display: flex;
  flex: 1 1 auto;
  flex-flow: column nowrap;
  align-items: start;
}

.contactHeader .information .name {
  font-weight: bold;
  text-align: left;
  white-space: nowrap;
}

.contactHeader .information .address {
  text-align: left;
  white-space: nowrap;
  max-width: 100px;
}
