/* -------------------------------------------------- */
/* Map                                                */
/* -------------------------------------------------- */
.tab-content .mapContainer {
  margin-top: 1rem;
}

.tab-content .map {
  height: calc(100vh - 85px - 13.5rem);
  width: 100%;
}

.tab-content .map iframe {
  outline: none;
}

.tab-content .map .you {
  background-color: var(--primary);
  border-radius: 8px;
  color: var(--pureWhite);
  font-size: 14px;
  padding: 10px 15px;
  position: relative;
}

.tab-content .map .you::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 100%;
  transform: translate(-50%, 0);
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 8px solid var(--primary);
}

.tab-content .infoWindow {
  line-height: 1.75em;
  font-size: 1rem;
}

.tab-content .infoWindow {
  background-color: var(--pureWhite);
  padding: 1rem;
  position: relative;
}

.tab-content .infoWindow a {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.tab-content .infoWindow a:hover {
  opacity: 0.1;
  background-color: var(--primary);
}

.tab-content .infoWindow .title {
  font-size: 1.25rem;
  font-weight: 900;
  padding: 0.5rem 0rem;
  text-align: left;
}

.tab-content .infoWindow .requester {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
  align-items: center;
}

.tab-content .infoWindow .requester .photo {
  display: block;
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.tab-content .infoWindow .requester .name {
  font-weight: bold;
}

/* -------------------------------------------------- */
/* Elder: Favor List View                             */
/* -------------------------------------------------- */
.create-button-wrapper .add-icon {
  align-content: center;
}
.create-button-wrapper .add-icon::after {
  filter: invert(0%) sepia(0%) saturate(100%) hue-rotate(0deg) brightness(100%) contrast(100%);

  align-self: center;
  position: relative;
  top: 2px;
  display: flex;
  height: 100%;
  aspect-ratio: 1;
  justify-content: center;
  position: relative;
  top: 0px;
}

.elder h2 {
  padding: 0;
}

.elder .gridContainer {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(1, 1fr);
  margin-top: 1rem;
  padding-bottom: 1rem;
}

.elder .taskCard .duration .bold {
  font-weight: bold;
}

.elder .taskCard .statusColor {
  display: inline-block;
  border-radius: 50%;
  height: 10px;
  width: 10px;
  margin-right: 0.5rem;
}

.taskCard .create-button-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.statusWaiting {
  background-color: var(--statusYellow);
}

.statusOngoing {
  background-color: var(--statusBlue);
}

.statusPending {
  background-color: var(--warmRed);
}

.statusOhers {
  background-color: var(--pureWhite);
}

.createTask {
  border-top: 1px solid var(--primary);
}

.createTask .taskCard img {
  margin: auto;
}

/* -------------------------------------------------- */
/* Volunteer: Favor List View                         */
/* -------------------------------------------------- */
.volunteer .viewSwitcher {
  display: flex;
  gap: 1rem;
  /* justify-content: space-between; */
  justify-content: end;
}

.volunteer .viewSwitcher button {
  border: none;
  border-radius: 30px;
  cursor: pointer;
  font-size: 1rem;
  padding: 0rem 1rem;
}

.volunteer .gridContainer {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(1, 1fr);
  margin-top: 1rem;

  @media (min-width: 600px) {
    grid-template-columns: repeat(2, 1fr);
  }
}

.volunteer .taskCard .duration .bold {
  font-weight: bold;
}

/* -------------------------------------------------- */
/* Volunteer: Favor Filter                            */
/* -------------------------------------------------- */
#filterModal .modal-content {
  display: flex;
  flex-flow: column wrap;
  min-height: 80vh;
  width: 90%;

  @media screen and (min-width: 800px) {
    max-width: 330px;
    margin-top: 1vh;
    margin-right: 1rem;
  }
}

.modal-form,
#filterForm,
#filterForm > .form-group {
  display: flex;
  flex-grow: 1;
  flex-flow: column nowrap;
}

.flex-row {
  flex-flow: row nowrap;
}

#filterModal .form-group.sort {
  display: flex;
  flex-flow: row wrap;
  gap: 0.5rem;
  justify-content: space-around;
}

#filterModal .form-group.sort label {
  margin-right: 0.2rem;
}

#lengthFilter {
  width: 100%;
}

#lengthFilterScale {
  display: inline-flex;
  justify-content: space-between;
  width: 100%;
}

#distanceFilter {
  width: 100%;
}

#distanceFilterScale {
  display: inline-flex;
  justify-content: space-between;
  width: 100%;
}

.favorType {
  background-color: #cccccc;
  border-radius: 30px;
  cursor: pointer;
  color: var(--pureWhite);
  padding: 0rem 0.5rem;
}

.favorType[type="checkbox"] {
  display: none;
}

.favor-options {
  justify-content: center;
  display: flex;
  flex-flow: row wrap;
  gap: 0.5rem;
  padding-top: 0.5rem;
}

.favorType + label::before {
  content: none;
}

.favorType[type="checkbox"] + label::before {
  padding-right: 0.5rem;
}

.favorType[type="checkbox"]:checked + label::before {
  content: "\00D7";
}

.favorType[type="checkbox"]:checked + label {
  background-color: var(--primary);
}

#filterModal .form-group.form-submit {
  display: flex;
  flex-flow: row wrap;
  gap: 0.5rem;
}

#savePreference {
  flex-basis: 100%;
  display: flex;
  align-items: center;
}

#savePreference > input {
  margin-right: 0.5rem;
}

button#applyFilter,
button#resetFilter {
  cursor: pointer;
  flex-grow: 1;
  font-size: 16px;
  justify-content: center;
}

/* -------------------------------------------------- */
/* Volunteer: History                                 */
/* -------------------------------------------------- */
.volunteer .taskCard .statusColor {
  background-color: var(--pureWhite);
  border-radius: 50%;
  height: 10px;
  width: 10px;
  position: absolute;
  top: 1.5rem;
  right: 1rem;
}

.volunteer.tab-content input[type="checkbox"].completed,
.volunteer.tab-content input[type="checkbox"].pending,
.volunteer.tab-content input[type="checkbox"].cancelled {
  display: none;
}

.volunteer.tab-content input[type="checkbox"] + label,
.volunteer.tab-content .setting {
  border: none;
  border-radius: 30px;
  cursor: pointer;
  font-size: 1rem;
  padding: 0rem 0.5rem;
}

.volunteer.tab-content input[type="checkbox"] + label {
  background-color: var(--disabledText);
}

.volunteer.tab-content input[type="checkbox"] + label::before {
  content: none;
}

.volunteer.tab-content input[type="checkbox"]:checked + label::before {
  content: "\00D7";
  padding-right: 0.5rem;
}

.volunteer.tab-content input[type="checkbox"]:checked + label.completed {
  display: block;
  background-color: var(--statusGreen);
}

.volunteer.tab-content input[type="checkbox"]:checked + label.pending {
  display: block;
  background-color: var(--statusYellow);
}

.volunteer.tab-content input[type="checkbox"]:checked + label.cancelled {
  display: block;
  background-color: var(--warmRed);
}

.volunteer.tab-content .viewSwitcher .statusFilter {
  display: flex;
  gap: 0.5rem;
}

/* -------------------------------------------------- */
/* Volunteer: No Task Message                         */
/* -------------------------------------------------- */
.elder .noItemsMessage,
.volunteer .noItemsMessage {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30vh;
  color: var(--disabledText);
  flex-flow: column wrap;
}

.elder .noItemsMessage a,
.volunteer .noItemsMessage a {
  color: var(--primary);
  font-weight: bold;
  text-decoration: underline;
}

/* -------------------------------------------------- */
/* Date Range Picker *Library Customize               */
/* -------------------------------------------------- */
.daterangepicker {
  background-color: var(--background-gray) !important;
  border-radius: 10px !important;
  width: fit-content !important;
  width: 307px !important;
  margin: auto !important;
  padding: 2rem !important;
  top: 50% !important;
  transform: translate(-50%, -50%) !important;
  left: 50% !important;
  margin: auto !important;

  @media screen and (min-width: 800px) {
    top: 185px !important;
    width: 556px !important;
    left: unset !important;
    right: 2rem !important;
    transform: translate(0, 0%) !important;
  }
}

.daterangepicker:before,
.daterangepicker:after {
  content: none !important;
  display: none !important;
}

.daterangepicker * {
  font-size: 16px !important;
  font-weight: normal !important;
}

.daterangepicker .ranges {
  display: none;
}

.daterangepicker .drp-calendar.left,
.daterangepicker .drp-calendar.right {
  padding: 0.5rem !important;
}

.daterangepicker .calendar-table,
.daterangepicker .calendar-table .off {
  background-color: var(--background-gray) !important;
  border: none !important;
}

.daterangepicker td.in-range {
  background-color: var(--caringOrange100) !important;
}

.daterangepicker td.active {
  background-color: var(--caringOrange500) !important;
}

.daterangepicker .drp-buttons {
  display: flex !important;
  gap: 1rem;
  flex-flow: wrap;
  justify-content: center;
  align-items: center;

  @media screen and (min-width: 800px) {
    justify-content: end;
  }
}

.daterangepicker .drp-buttons .drp-selected {
  flex: 1 1 100% !important;
  text-align: center !important;
  padding: 0 !important;

  @media screen and (min-width: 800px) {
    text-align: right !important;
  }
}

.daterangepicker .drp-buttons .btn {
  flex: 0 1 calc(50% - 0.5rem) !important;
  margin: 0 !important;

  @media screen and (min-width: 800px) {
    flex: 0 1 30% !important;
  }
}

.daterangepicker button {
  font-weight: bold !important;
  display: inline-block !important;
  border: 2px solid var(--primary) !important;
  padding: 0rem 1rem !important;
}

.daterangepicker button.resetBtn {
  background-color: transparent !important;
  color: var(--primary) !important;
}

.daterangepicker button.resetBtn:hover {
  background-color: var(--hoverOutlinedButtonBackground) !important;
}

.daterangepicker button:disabled {
  background-color: var(--primary) !important;
  display: inline-block !important;
}
