/* -------------------------------------------------- */
/* Tab Menu                                           */
/* -------------------------------------------------- */
.tabs {
  display: flex;
  margin-bottom: 1rem;
}

.tabs .tab {
  flex: 1 0 33.3%;
  cursor: pointer;
  padding-bottom: 0.5rem;
  text-align: center;
}

.tabs .tab {
  border-bottom: 2px solid var(--disabledText);
  color: var(--disabledText);
}

.tabs .tab.active {
  border-bottom: 3px solid var(--primary);
  font-weight: bold;
  color: var(--primary);
}

.tabs .tab-content-item {
  padding: 10px;
}

.hide {
  display: none !important;
}

/* -------------------------------------------------- */
/* Map                                                */
/* -------------------------------------------------- */
.tab-content .mapContainer {
  margin-top: 1rem;
}

.tab-content .map {
  height: calc(100vh - 85px - 13.5rem);
  width: 100%;
}

.tab-content .map .you {
  background-color: var(--primary);
  border-radius: 8px;
  color: var(--pureWhite);
  font-size: 14px;
  padding: 10px 15px;
  position: relative;
}

.tab-content .map .you::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 100%;
  transform: translate(-50%, 0);
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 8px solid var(--primary);
}

.tab-content .infoWindow {
  line-height: 1.75em;
  font-size: 1rem;
}

.tab-content .infoWindow {
  background-color: var(--pureWhite);
  padding: 1rem;
  position: relative;
}

.tab-content .infoWindow a {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.tab-content .infoWindow a:hover {
  opacity: 0.1;
  background-color: var(--primary);
}

.tab-content .infoWindow .title {
  font-size: 1.25rem;
  font-weight: 900;
  padding: 0.5rem 0rem;
  text-align: left;
}

.tab-content .infoWindow .requester {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
  align-items: center;
}

.tab-content .infoWindow .requester .photo {
  display: block;
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.tab-content .infoWindow .requester .name {
  font-weight: bold;
}

/* -------------------------------------------------- */
/* Task Card                                          */
/* -------------------------------------------------- */
.taskCard {
  transition: all 0.2s ease-out;
  background-color: var(--pureWhite);
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  padding: 1rem;
  position: relative;
}

.taskCard:hover {
  transform: translateY(-5px);
}

.taskCard a {
  border-radius: 10px;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

.taskCard a:hover {
  opacity: 0.1;
}

.taskCard .title {
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.taskCard .requester,
.taskCard .vounteer {
  display: flex;
  gap: 1rem;
  margin-top: 0.5rem;
  align-items: center;
}

.taskCard .requester .photo,
.taskCard .vounteer .photo {
  display: block;
  border-radius: 50%;
  width: 60px;
  height: 60px;
}

.taskCard .requester .name,
.taskCard .vounteer .name {
  font-weight: bold;
}

/* -------------------------------------------------- */
/* Elder: Favor List View                             */
/* -------------------------------------------------- */
.elder h2 {
  padding: 0;
}

.elder .gridContainer {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(1, 1fr);
  margin-top: 1rem;
}

.elder .taskCard .statusColor {
  display: inline-block;
  background-color: #fff;
  border-radius: 50%;
  height: 10px;
  width: 10px;
  margin-right: 0.5rem;
}

/* -------------------------------------------------- */
/* Volunteer: Explore Favor List View                 */
/* -------------------------------------------------- */
.volunteer .viewSwitcher {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
}

.volunteer .viewSwitcher button {
  border: none;
  border-radius: 30px;
  cursor: pointer;
  font-size: 1rem;
  padding: 0rem 1rem;
}

.volunteer .gridContainer {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(1, 1fr);
  margin-top: 1rem;

  @media (min-width: 600px) {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* -------------------------------------------------- */
/* Volunteer: Explore Favor Filter                    */
/* -------------------------------------------------- */
#filterModal .modal-content {
  min-height: 80vh;
  max-width: 330px;
  margin-top: 1vh;
  margin-right: 1rem;
  display: flex;
  flex-flow: column wrap;
}

.modal-form,
#filterForm,
#filterForm > .form-group {
  display: flex;
  flex-grow: 1;
  flex-flow: column nowrap;
}

.flex-row {
  flex-flow: row nowrap;
}

#filterModal .form-group.sort {
  display: flex;
  flex-flow: row wrap;
  gap: 0.5rem;
  justify-content: space-between;
}

#filterModal .form-group.sort label {
  margin-right: 0.2rem;
}

#lengthFilter {
  width: 100%;
}

#lengthFilterScale {
  display: inline-flex;
  justify-content: space-between;
  width: 100%;
}

#distanceFilter {
  width: 100%;
}

#distanceFilterScale {
  display: inline-flex;
  justify-content: space-between;
  width: 100%;
}

.favorType {
  background-color: #cccccc;
  border-radius: 30px;
  cursor: pointer;
  color: var(--pureWhite);
  padding: 0rem 0.5rem;
}

.favorType[type="checkbox"] {
  display: none;
}

.favor-options {
  justify-content: center;
  display: flex;
  flex-flow: row wrap;
  gap: 0.5rem;
}

.favorType + label::before {
  content: none;
}

.favorType[type="checkbox"] + label::before {
  padding-right: 0.5rem;
}

.favorType[type="checkbox"]:checked + label::before {
  content: "\00D7";
}

.favorType[type="checkbox"]:checked + label {
  background-color: var(--primary);
}

#filterModal .form-group.form-submit {
  display: flex;
  flex-flow: row wrap;
  gap: 0.5rem;
}

#savePreference {
  flex-basis: 100%;
}

button#applyFilter,
button#cancelFilter {
  cursor: pointer;
  flex-grow: 1;
}

/* -------------------------------------------------- */
/* Volunteer: History                                 */
/* -------------------------------------------------- */
.volunteer .taskCard .statusColor {
  background-color: var(--pureWhite);
  border-radius: 50%;
  height: 10px;
  width: 10px;
  position: absolute;
  top: 1.5rem;
  right: 1rem;
}

.volunteer.tab-content input[type="checkbox"].completed,
.volunteer.tab-content input[type="checkbox"].pending,
.volunteer.tab-content input[type="checkbox"].cancelled {
  display: none;
}

.volunteer.tab-content input[type="checkbox"] + label,
.volunteer.tab-content .setting {
  border: none;
  border-radius: 30px;
  cursor: pointer;
  font-size: 1rem;
  padding: 0rem 0.5rem;
}

.volunteer.tab-content input[type="checkbox"] + label {
  background-color: #cccccc;
}

.volunteer.tab-content input[type="checkbox"] + label::before {
  content: none;
}

.volunteer.tab-content input[type="checkbox"]:checked + label::before {
  content: "\00D7";
  padding-right: 0.5rem;
}

.volunteer.tab-content input[type="checkbox"]:checked + label.completed {
  display: block;
  background-color: var(--statusGreen);
}

.volunteer.tab-content input[type="checkbox"]:checked + label.pending {
  display: block;
  background-color: var(--statusYellow);
}

.volunteer.tab-content input[type="checkbox"]:checked + label.cancelled {
  display: block;
  background-color: var(--warmRed);
}

.volunteer.tab-content .viewSwitcher .statusFilter {
  display: flex;
  gap: 0.5rem;
}
