* {
  box-sizing: border-box;
}
body {
  background: url(/assets/images/background-login-desktop.png);
  background-position: center;
  background-size: cover;
  padding-bottom: 0;
  backdrop-filter: brightness(110%) grayscale(40%);

  @media screen and (min-width: 800px) {
    background-image: url(/assets/images/background-login-desktop.png);
  }
}
main {
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: column nowrap;
}
.img-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  padding: 1% 20%;
  z-index: 2;
  place-content: center;
}
img {
  width: 450px;
  max-width: 100%;
  height: auto;
  display: block;
}
main .flex-child {
  flex: 1;
  position: relative;
  min-height: 20vh;
}
main .flex-child:first-of-type {
  flex-grow: 2;
}
main .flex-child:first-of-type div {
  position: absolute;
  inset: 0 !important;
}
main .flex-child:nth-of-type(2) {
  padding: 0 1.2rem;
  display: flex;
  flex-flow: column wrap;
  place-content: center;
}
.error-messages {
  width: 100%;
}
.container {
  max-width: 400px;
  place-self: center;
}
.container .row {
  display: flex;
}
.container .row .form-group {
  flex: 1;
}
h2 {
  color: var(--primary);
  text-align: center;
}
h3 {
  font-size: 16px;
  color: var(--primary);
  text-align: center;
}
.logo {
  width: 100%;
  margin: auto;
  padding-bottom: 2rem;
}
.logo img {
  text-align: center;
  display: block;
  margin: auto;
  width: 150px;
}
form {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  max-width: 400px;
  margin: auto;
  padding: 1.5rem 0;
  gap: 1.5rem;
  width: 100%;
}
form.login {
  border-top: 1px solid var(--primary);
  border-bottom: 1px solid var(--primary);
}
form div {
  flex: 1 1 auto;
}
form span {
  color: var(--primary);
  display: block;
  font-weight: bold;
  text-align: left;
  width: 100%;
}
.form-group {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  text-align: left;
  width: 100%;
}
.form-group label {
  color: var(--primary);
  font-weight: bold;
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}
.form-group input {
  border: 2px solid var(--primary);
  border-radius: 5px;
  padding: 0.2rem 0.8rem;
  width: 100%;
}
.form-group input:focus {
  outline: none;
}
.form-group button {
  padding: 0.2rem 2rem;
  text-align: center;
  flex: 0 1 40%;
}
button a {
  color: var(--primary);
  display: block;
  flex: 1 1 auto;
}
.icon::after {
  filter: unset;
}
.menu {
  padding-top: 2rem;
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  width: 100%;
}
.menu button {
  text-align: center;
  flex: 1 1 40%;
}
.role {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  width: 100%;
}
.role div {
  display: flex;
  text-align: center;
  flex: 1 1 40%;
  width: 100%;
}
#createAccount,
#moveToLogin {
  justify-content: center;
  width: 100%;
}

#banner {
  background: url("../assets/images/login.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  filter: grayscale(30%) brightness(0.5);
}
@media screen and (min-width: 800px) {
  main {
    flex-flow: row nowrap;
  }
}
