@import url("https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap");

:root {
  --text: #333333;
  --disabledText: #9c9c9c;
  --background: #fafafa;
  --background-gray: #f1f3f3;
  --background-dark: #1a1a1a;
  --lightBorder: #d1d1d1;
  --primary: #156a85;
  --caringOrange: #e98872;
  --brown: #e7d4c0;
  --helpfulBlue: #78b8d8;
  --warmRed: #e43f3f;
  --pureWhite: #ffffff;
  --statusYellow: #ffcd29;
  --statusGreen: #44c451;
  --statusBlue: #0d99ff;

  --hoverButtonBackground: color-mix(in hsl, var(--primary) 85%, var(--pureWhite));
  --hoverOutlinedButtonBackground: color-mix(in hsl, var(--primary) 20%, var(--background-gray));
}

/* -------------------------------------------------- */
/* Base Settings / Reset                              */
/* -------------------------------------------------- */
* {
  margin: 0;
  padding: 0;
  font-family: "Source Sans 3", sans-serif; /* The font family allied in Figma */
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
}
/* -------------------------------------------------- */
/* Common                                             */
/* -------------------------------------------------- */
.min-height-100vh {
  min-height: 100vh;
}
.disappear-mobile {
  display: none;
}

ul {
  list-style-type: none;
}

body {
  background-color: var(--background-gray);
  color: var(--text);
  font-size: 16px;
  line-height: 1.75em;
  min-height: 100vh;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  /* To avoid overlaying content to menubar in mobile layout */
  padding-bottom: 100px;
}
img {
  max-width: 100%;
  height: auto;
  display: block;
}
.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
h1,
h2 {
  padding: 20px 0px;
}
h1,
h2,
h3 {
  font-weight: 700;
}
h1.light,
h2.light,
h3.light {
  font-weight: 100;
}

/*===============
* Buttons
/*==============*/

#backBtn {
  border: none;
  background-color: transparent;
  display: flex;
  justify-content: end;
  flex-flow: column nowrap;
  align-items: center;
  height: 100%;
  color: var(--primary);
  gap: 5px;
}
#backBtn i {
  font-size: 2rem;
}
#backBtn span {
  font-size: 1rem;
}
button,
.link-btn {
  display: block;
  background-color: var(--primary);
  border: none;
  color: var(--pureWhite);
  border-radius: 5px;
  padding: 0.5rem 1rem;
  line-height: 1.75em;
  font-weight: 600;
}
:is(button:not(#logoutBtn), .link-btn):hover,
:is(button:not(#logoutBtn), .link-btn):active {
  background-color: var(--hoverButtonBackground);
  cursor: pointer;
}
button:disabled,
.link-btn:disabled {
  background-color: var(--hoverButtonBackground);
  opacity: 35%;
  cursor: default;
}
button a {
  color: var(--text);
}
.rounded-btn {
  border-radius: 50px;
  padding: 1px 8px;
  height: max-content;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.outlined-btn {
  background-color: transparent !important;
  color: var(--primary) !important;
  border: 2px solid var(--primary) !important;
}
:is(.outlined-btn, #backBtn):hover,
:is(.outlined-btn, #backBtn):active {
  background-color: var(--hoverOutlinedButtonBackground) !important;
}
/* -------------------------------------------------- */
/* Toggle switch (list <-> map)
/* -------------------------------------------------- */
.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 25px;
  margin: 0 5px;
}
/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  padding-bottom: 5px;
  bottom: 0;
  background-color: var(--disabledText);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "\f0c9";
  font-family: "FontAwesome";
  font-size: 12px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--disabledText);
  height: 20px;
  width: 20px;
  left: 2px;
  bottom: 3px;
  background-color: var(--pureWhite);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.switch input:checked + .slider {
  background-color: var(--primary);
}
.switch input:checked + .slider::before {
  content: "\f276";
}

.switch input:focus + .slider {
  box-shadow: 0 0 1px var(--primary);
}
#listView {
  font-weight: 600;
}
#mapView {
  font-weight: 400;
}
.switch-wrapper:has(input:checked) #listView {
  font-weight: 400;
}
.switch-wrapper:has(input:checked) #mapView {
  font-weight: 600;
}
.switch input:checked + .slider:before {
  -webkit-transform: translateX(17px);
  -ms-transform: translateX(17px);
  transform: translateX(17px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
/* -------------------------------------------------- */
/* Header & Footer                                    */
/* -------------------------------------------------- */
body:not(#indexBody) {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
}
header {
  background-color: var(--background);
  z-index: 4;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  grid-row: 1;
  grid-column: 1 / 3;
}

#leftside-column {
  position: fixed;
  grid-row: 1/-1;
  align-self: end;
  grid-column: 1/-1;
  position: relative;
}
main.content {
  margin-top: 85px;
}
main {
  padding: 0.5rem;
  grid-row: 2;
  grid-column: 1/-1;
  position: relative;
}

header .container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  padding: 0;
  border-bottom: thin solid var(--background-gray);
}
header .container div {
  flex-grow: 0;
  align-content: center;
}
header .container > div {
  padding: 0.5rem;
  background-color: var(--background);
}
header .container .logo-wrapper,
header .container .logo-wrapper a {
  display: flex;
  justify-content: center;
}
header .container .logo-wrapper #desktopLogo {
  display: none;
  min-width: 50px;
  max-width: 150px;
}
header .container .logo-wrapper #mobileLogo {
  max-width: 40px;
}
header .container .logo-wrapper img {
  width: 100%;
}
header .container .page-title-wrapper {
  flex-grow: 1;
  display: flex;
}
header .container .page-title-wrapper .back-btn-wrapper {
  display: none;
  flex-grow: 0;
  flex-shrink: 1;
  max-width: max-content;
}

main .page-header {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.hidden {
  display: none !important;
}
.container {
  width: 100%;
  padding: 1rem 0.5rem;
}
.chat-icon-wrapper {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.chat-icon-wrapper a,
.chat-icon-wrapper i {
  color: var(--primary);
}

a,
#logoutBtn {
  color: var(--disabledText);
  text-decoration: none;
  background-color: transparent;
}

.center {
  text-align: center;
}

footer {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  bottom: 0;
  width: 100%;
  color: var(--text);
  padding: 0.5rem 2rem 0.5rem 0.5rem;
  grid-row: 3;
  grid-column: 1/-1;
  gap: 1rem;
  color: var(--disabledText);

  @media (max-width: 800px) {
    display: none;
  }
}
footer small {
  color: var(--disabledText);
}
footer a {
  text-decoration: underline;
}
/* --------------------------------------------------*/
/* Loading Screen                                    */
/* --------------------------------------------------*/
main.loaded .loading-screen {
  display: none;
}
/*
#dashboard-content:has(.volunteer) .loading-screen{
  top: 120px;
}*/
.loading-screen {
  z-index: 2;
  position: absolute;
  width: 100%;
  height: 100%;
  right: 0;
  bottom: 0;
  left: 0;
  padding-top: 10vh;
  top: 0px;
  text-align: center;
  align-items: center;
  align-content: center;
  background-color: rgba(241, 243, 243, 0.8);
}
.loading-screen i {
  font-size: 3.5rem;
  color: var(--primary);
}

/* -------------------------------------------------- */
/* Side Bar                                           */
/* -------------------------------------------------- */

.sidebar {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  background-color: var(--background-gray);
  padding: 10px;
  z-index: 3; /* Bring sidebar front in mobile screen */
  border-top: 2px solid var(--primary);
}
.sidebar ul {
  list-style: none;
  padding-left: 0;
  display: flex;
  justify-content: space-evenly;
  align-self: center;
  flex-grow: 1;
}
.sidebar ul li {
  display: flex;
}
.sidebar a,
#logoutBtn {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--disabledText);
  text-decoration: none;
  padding: 0 10px;
  font-size: clamp(0.5rem, 5vw, 0.8rem);
  font-weight: 700;
}
.sidebar button {
  border: none;
}
.sidebar a .fa-fw,
#logoutBtn .fa-fw {
  display: block;
  font-size: 20px;
}
.sidebar a.active {
  color: var(--primary);
}
.sidebar a:hover,
#logoutBtn:hover {
  color: var(--primary);
  cursor: pointer;
}

/*
====================
Modal
====================
*/
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1000; /* Sit on top */
  align-content: center;
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}
/* Modal Content/Box */
.modal-content {
  background-color: var(--background-gray);
  margin: auto; /* centered */
  padding: 20px;
  border: 1px solid var(--lightBorder);
  border-radius: 10px;
  width: 100%; /* Could be more or less, depending on screen size */
  max-width: 450px;
}

/* The Close Button */
.closeModal {
  color: var(--disabledText);
  float: right;
  text-align: right;
  font-size: 30px;
  font-weight: bold;
  cursor: pointer;
}

.closeModal:hover,
.closeModal:focus {
  color: var(--primary);
  text-decoration: none;
  cursor: pointer;
}
#confirmChangesModal .form-group {
  display: flex;
  justify-content: center;
}
#savedMessageModal .icon-wrapper {
  width: 100%;
  text-align: center;
}
#savedMessageModal .icon-wrapper i {
  font-size: 5rem;
}

/* -------------------------------------------------- */
/* Tab Menu                                           */
/* -------------------------------------------------- */
.tabs {
  display: flex;
  margin-bottom: 1rem;
}

.tabs .tab {
  flex: 1 0 33.3%;
  cursor: pointer;
  padding-bottom: 0.5rem;
  text-align: center;
}

.tabs .tab {
  border-bottom: 2px solid var(--disabledText);
  color: var(--disabledText);
}

.tabs .tab.active {
  border-bottom: 3px solid var(--primary);
  font-weight: bold;
  color: var(--primary);
}

.tabs .tab-content-item {
  padding: 10px;
}

.hide {
  display: none !important;
}

/* -------------------------------------------------- */
/* Task Card                                          */
/* -------------------------------------------------- */
.taskCard {
  transition: all 0.2s ease-out;
  background-color: var(--pureWhite);
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  padding: 1rem;
  position: relative;
}

.taskCard:hover {
  transform: translateY(-5px);
}

.taskCard a {
  border-radius: 10px;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

.taskCard a:hover {
  opacity: 0.1;
}

.taskCard .title {
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.taskCard .requester,
.taskCard .vounteer {
  display: flex;
  gap: 1rem;
  margin-top: 0.5rem;
  align-items: center;
}

.taskCard .requester .photo,
.taskCard .vounteer .photo {
  display: block;
  border-radius: 50%;
  width: 60px;
  height: 60px;
}

.taskCard .requester .name,
.taskCard .vounteer .name {
  font-weight: bold;
}

/*
=========================
Media queries
=========================
*/
@media (min-width: 800px) {
  body {
    padding-bottom: 0px;
  }
  body:not(#indexBody) {
    grid-template-columns: 240px 1fr;
  }
  #leftside-column {
    bottom: 0;
    top: 0;
    left: 0;
    height: 100%;
    grid-column: 1 / 2;
  }
  header {
    background-color: transparent;
    grid-column: 1 / 4;
  }
  footer {
    grid-column: 2 / 4;
  }
  main {
    grid-column: 2/-1;
  }
  .disappear-mobile {
    display: block;
  }
  .sidebar {
    grid-row: 1/-1;
    grid-column: 1;
  }
  .sidebar a,
  #logoutBtn {
    font-size: 1rem;
  }
  .sidebar ul {
    justify-content: unset;
  }
  header .container > div {
    padding: 0.5rem;
  }
  #btn,
  #cancel {
    display: block;
  }

  .sidebar li {
    width: 75%;
    align-self: end;
  }
  header .container .logo-wrapper {
    justify-content: end;
  }
  header .container .logo-wrapper #mobileLogo {
    display: none;
  }
  header .container .logo-wrapper #desktopLogo {
    display: block;
  }
  header .container .back-btn-wrapper #backBtn {
    flex-flow: row nowrap;
  }
  header .container .back-btn-wrapper #backBtn span {
    font-size: 1.5rem;
    font-weight: 700;
  }
  header .container .logo-wrapper a {
    width: 70%;
    align-self: end;
  }
  header .container .logo-wrapper .img-wrapper {
    display: flex;
    justify-content: center;
  }
  header .container .page-title-wrapper h1 {
    text-align: left;
    padding-left: 2rem;
  }
  header .container .chat-icon-wrapper {
    padding-right: 2rem;
  }
  header .container div {
    flex-grow: 0;
    align-content: center;
    flex-basis: calc(240px - 0.5rem);
    text-align: right;
  }
  .sidebar {
    width: 240px;
    height: 100%;
  }
  .sidebar ul {
    flex-flow: column nowrap;

    /* Align navigation to top then adjust to not cover the logo */
    align-self: start;
    margin-top: 75px;
  }

  .content {
    position: relative;
    padding: 2rem;
    /* height: 100%; */
  }

  .sidebar a,
  #logoutBtn {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    height: 65px;
    width: 100%;
    line-height: 65px;
    padding-left: 30px;
    box-sizing: border-box;
    /*
    border-bottom: 1px solid var(--background-dark);
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    border-left: 5px solid transparent;
    */
  }
  .sidebar a.active,
  .sidebar a:hover,
  #logoutBtn:hover {
    color: var(--primary);
  }

  .sidebar a i,
  #logoutBtn i {
    font-size: 1rem;
    margin-right: 16px;
  }

  .sidebar a span,
  #logoutBtn span {
    letter-spacing: 1px;
  }
}
