.support-options-wrapper{
    width: 100%;
    max-width: 400px;
    margin: auto;
    text-align: center;
    display: flex;
    flex-flow: column nowrap;
    gap: .5rem;
    max-height: 520px;
}
.support-options-wrapper .row{
    display: flex;
    gap: 1rem;
    justify-content: center;
    max-height: 150px;
}
.support-options-wrapper .img-wrapper{
    aspect-ratio: 16 / 9;
}
.support-options-wrapper img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.support-options-wrapper .row > :is(.img-wrapper, .support-option){
    flex: 1;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 12px 28px -6px rgba(0,0,0,.2);
}
.support-options-wrapper .row .support-option{
    background-color: var(--pureWhite);
    padding: 1rem 2rem;
    color: var(--primary);
    display: flex;
    gap: .5rem;
    flex-flow: column wrap;
    padding: 1rem;
}
.support-options-wrapper .row .support-option *{
    display: block;
    margin: 0;
    padding: 0;
}
.support-options-wrapper .row .support-option .icon::after{
    filter: unset;
}
hr {
    color: var(--disabledText);
    background-color: var(--disabledText);
}