#updates{
    display: flex;
    flex-flow: column nowrap;
    gap: 1rem;
}
.update.new{
    border: none;
    background-color: var(--pureWhite);
}

.update{
    display: flex;
    gap: 1rem;
    background-color: var(--background-gray);
}
.update:hover{
    cursor: pointer;
    transform: translateY(-5px);
}
.update .notification-title{
    margin: 0;
    padding: 0;
}
.icon-wrapper{
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 50px;
    border-radius: 50px;
    position: relative;

}
#updates .icon-wrapper::after{
    position: absolute;
    bottom: 15%;
    right: -10%;
    width: 20px;
    height: 20px;
    border-radius: 50px;
    color: white;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#updates .icon-wrapper.info::after{
    content: "\2714";
    background-color: var(--primary);
}
#updates .icon-wrapper.warning::after {
    content: "\2716";
    background-color: var(--statusWaiting);
}
#updates .icon-wrapper.danger::after {
    content: "\0021";
    background-color: var(--warmRed);
}
.icon-wrapper img{
    border-radius: 50px;
}
.update .notification-content{
    flex-grow: 1;
    padding-right: 30px;
    text-align: left;
}
.update.new span {
    font-weight: bold;
    color: black;
}
.update.new::after {
    position: absolute;
    content: "";
    right: 10px;
    top: 10px;
    width: 10px;
    height: 10px;
    border-radius: 50px;
    background-color: var(--warmRed);
}