<div class="container">
    <div class="logo-wrapper">
        <a href="../dashboard.html">
            <div class="img-wrapper">
                <img src="../assets/logo_desktop.png" id="desktopLogo" alt="Favr">
                <img src="../assets/logo-mobile.png" id="mobileLogo" alt="Favr">

            </div>
            <span class="visually-hidden">Favr</span>
        </a>
    </div>
    <div class="page-title-wrapper">
        <div class="back-btn-wrapper">
            <button id="backBtn" title="Back to previous page">
                <i class="fa-solid fa-angle-left"></i>
                <span>Back</span>
            </button>
        </div>
        <h1 id="page-title"></h1>
    </div>
    <div class="chat-icon-wrapper">
        <a href="../chat.html" title="Chat" class="rounded-btn">
            <i class="icon chat-icon"></i>
            <span>Chat</span>
        </a>
    </div>
</div>