<!-- Partial HTML: Left Column -->
<nav id="sidebar" class="sidebar">
  <ul>
    <li>
      <a href="../dashboard.html" id="home-menu">
        <i class="icon home-icon" aria-label="Home"></i>
        <span>Home</span>
      </a>
    </li>
    <li>
      <a href="../updates.html" id="updates-menu">
        <i class="icon updates-icon" aria-label="Updates"></i>
        <span>Updates</span>
      </a>
    </li>
    <li>
      <a href="../history.html" id="history-menu">
        <i class="icon history-icon"></i>
        <span>History</span>
      </a>
    </li>
    <li>
      <a href="../profile.html" id="profile-menu">
        <i class="icon profile-icon" aria-label="Profile"></i>
        <span>Profile</span>
      </a>
    </li>
    <li>
      <button id="logoutBtn" type="button">
        <i class="fas fa-sign-out-alt fa-fw" aria-label="Logout"></i>
        <span>Logout</span>
      </button>
    </li>
  </ul>
</nav>