<!-- Partial HTML: Left Column -->
<input type="checkbox" id="check" checked>
<label for="check">
  <i class="fas fa-bars" id="btn"></i>
  <i class="fas fa-times" id="cancel"></i>
</label>

<nav id="sidebar" class="sidebar">
  <header>
    <h1>Logo</h1>
  </header>
  <a href="../dashboard.html" id="home-menu">
    <i class="fas fa-house fa-fw"></i>
    <span>Home</span>
  </a>
  <a href="../tasks/updates.html" id="updates-menu">
    <i class="fa-solid fa-bell fa-fw"></i>
    <span>Updates</span>
  </a>
  <a href="../profile.html" id="profile-menu">
    <i class="fa-solid fa-user fa-fw"></i>
    <span>Profile</span>
  </a>
  <a href="../chat.html" id="chat-menu">
    <i class="fa-solid fa-comment-dots fa-fw"></i>
    <span>Chat</span>
  </a>
  <button id="logoutBtn" type="button">
    <i class="fas fa-sign-out-alt"></i>
    <span>Logout</span>
  </button>
</nav>