<div class="elder page-header" id="elder-dashboard-page-header">
    <h2>My Favors</h2>
    <div class="create-button-wrapper">
        <a href="../../tasks/create.html" class="rounded-btn create-button-link link-btn" title="Create favor"><i class="icon add-icon" aria-hidden="true"></i>Create</a>
    </div>
</div>
<div class="elder">
    <div id="taskList" class="gridContainer">
        <div class="loading-screen">
            <i class="fa-solid fa-spinner fa-spin-pulse"></i>
        </div>
    </div>
    <div class="noItemsMessage hide">
        <img src="/assets/images/nofavors-desktop.png" alt="No Favors" />
        <div>No ongoing Favors for now</div>
        <a href="../../tasks/create.html">Create Favor</a>
    </div>
</div>
<div class="createTask">
    <h2>Create a favor?</h2>
    <div class="taskCard">
        <a class="linkURL" href="../../tasks/create.html"></a>
        <img src="/assets/images/create-task-large.png" alt="Create a task">
        <div class="create-button-wrapper">
            <span class="rounded-btn create-button-link link-btn" title="Create favor"><i class="icon add-icon" aria-hidden="true"></i>Create</span>
        </div>
    </div>
</div>