<div class="elder page-header" id="elder-dashboard-page-header">
    <h2>Ongoing tasks</h2>
    <div class="create-button-wrapper">
        <a href="../../tasks/create.html" class="rounded-btn create-button-link link-btn" title="Create favor"><i class="icon add-icon" aria-hidden="true"></i>Create</a>
    </div>
</div>
<div class="elder">
    <div id="taskList" class="gridContainer">
        <div class="loading-screen">
            <i class="fa-solid fa-spinner fa-spin-pulse"></i>
        </div>
    </div>
</div>