<!-- Tab Contents --->
<div class="volunteer tabs">
    <div class="tab active" id="tab1">Explore</div>
    <div class="tab" id="tab2">My Favors (<span id="favorCount">0</span>)</div>
    <!-- <div class="tab" id="tab3">History</div> -->
</div>

<div class="volunteer tab-content">
    <div class="loading-screen">
        <i class="fa-solid fa-spinner fa-spin-pulse"></i>
    </div>
    <div id="tab1-content" class="tab-content-item">
        <div class="viewSwitcher">
            <div class="switch-wrapper">
                <label for="view" id="listView">List</label>
                <label class="switch">
                    <input type="checkbox" id="taskViewSwitch" name="view">
                    <span class="slider round"></span>
                </label>
                <label for="view" id="mapView">Map</label>
            </div>
            <i class="icon filter-icon" aria-label="Filter" id="openFilterBtn"></i>
            <!-- <button type="button" id="openFilterBtn"><i class="fa-solid fa-sliders"></i></button> -->
        </div>
        <!-- taskinfo containers (List) -->
        <div id="taskListExplore" class="gridContainer"></div>
        <!-- taskinfo containers (Map) -->
        <div id="taskMapExplore" class="mapContainer hidden">
            <div id="map" class="map"></div>
        </div>
        <div class="noItemsMessage hide">No Favors to show</div>
    </div>
    <div id="tab2-content" class="tab-content-item hidden">
        <!-- taskinfo containers (List) -->
        <div id="taskListMyFavor" class="gridContainer"></div>
        <div class="noItemsMessage hide">No Ongoing Favors to show</div>
    </div>
</div>

<div id="acceptTaskModal" class="modal">
    <!-- Modal content -->
    <div class="modal-content">
        <span class="close">&times;</span>
        <div class="modal-form">
            <button id="cancel">Cancel</button>
            <button id="accept">Accept</button>
        </div>
    </div>
</div>