<!-- Tab Contents --->
<div class="volunteer tabs">
    <div class="tab active" id="tab1">Explore Favors</div>
    <div class="tab" id="tab2">My Favors</div>
    <div class="tab" id="tab3">History</div>
</div>

<div class="volunteer tab-content">
    <div id="tab1-content" class="tab-content-item">
        <div class="viewSwitcher">
            <input type="radio" id="listView" name="view" checked>
            <label for="listView">List</label>
            <input type="radio" id="mapView" name="view">
            <label for="mapView">Map</label>
        </div>
        <!-- taskinfo containers (List) -->
        <div id="taskListExplore" class="gridContainer"></div>
        <!-- taskinfo containers (Map) -->
        <div id="taskMapExplore" class="hide">
            <div id="map"></div>
            <div id="taskinfo"></div>
        </div>
    </div>
    <div id="tab2-content" class="tab-content-item hide">
        <!-- taskinfo containers (List) -->
        <div id="taskListMyFavor" class="gridContainer"></div>
    </div>
    <div id="tab3-content" class="tab-content-item hide">
        <!-- taskinfo containers (List) -->
        <div id="taskListHistory" class="gridContainer"></div>
    </div>
</div>