<!-- Tab Contents --->
<div class="tabs">
  <div class="tab active" id="tab1">Completed (<span id="favorCountCompleted">0</span>)</div>
  <div class="tab" id="tab2">Cancelled (<span id="favorCountCancelled">0</span>)</div>
</div>

<div class="tab-content">
  <div class="loading-screen">
    <i class="fa-solid fa-spinner fa-spin-pulse"></i>
  </div>
  <div id="tab1-content" class="tab-content-item">
    <!-- taskinfo containers (List) -->
    <div class="elder">
      <div id="taskListCompleted" class="gridContainer">
        <div class="loading-screen">
          <i class="fa-solid fa-spinner fa-spin-pulse"></i>
        </div>
      </div>
      <div class="noItemsMessage noResult">No completed Favors to show</div>
    </div>
  </div>
  <div id="tab2-content" class="tab-content-item hidden">
    <!-- taskinfo containers (List) -->
    <div class="elder">
      <div id="taskListCancelled" class="gridContainer">
        <div class="loading-screen">
          <i class="fa-solid fa-spinner fa-spin-pulse"></i>
        </div>
      </div>
      <div class="noItemsMessage noResult">No cancelled Favors to show</div>
    </div>
  </div>
</div>