<!-- Tab Contents --->
<div class="tab-menu-container">
  <div class="tabs">
    <div class="tab active" id="tab1">Completed (<span id="favorCountCompleted">0</span>)</div>
    <div class="tab" id="tab2">Cancelled (<span id="favorCountCancelled">0</span>)</div>
  </div>
</div>

<div class="tab-content">
  <div id="tab1-content" class="tab-content-item">
    <div class="elder">
      <div id="taskListCompleted" class="gridContainer">
      </div>
      <div class="noItemsMessage hide">
        <picture>
          <source srcset="/assets/images/nofavors-desktop.png" media="(min-width: 800px)" type="image/png">
          <img class="" src="/assets/images/nofavors-mobile.png" alt="No Favors">
        </picture>
        <p>No ongoing Favors for now</p>
        <a href="../../tasks/create.html">Create Favor</a>
      </div>
    </div>
  </div>
  <div id="tab2-content" class="tab-content-item hidden">
    <div class="elder">
      <div id="taskListCancelled" class="gridContainer">
      </div>
      <div class="noItemsMessage hide">
        <picture>
          <source srcset="/assets/images/nofavors-desktop.png" media="(min-width: 800px)" type="image/png">
          <img class="" src="/assets/images/nofavors-mobile.png" alt="No Favors">
        </picture>
        <p>No cancelled Favors to show</p>
        <a href="../../tasks/create.html">Create Favor</a>
      </div>
    </div>
  </div>
</div>