<!-- Tab Contents --->
<div class="tab-menu-container">
  <div class="tabs">
    <div class="tab active" id="tab1">Pending (<span id="favorCountPending">0</span>)</div>
    <div class="tab" id="tab2">Completed (<span id="favorCountCompleted">0</span>)</div>
  </div>
  <div class="viewSwitcher">
    <i class="icon filter-icon dateRangeModal" aria-label="Filter" id="dateRangeModalForPending"></i>
  </div>
  <div class="viewSwitcher">
    <i class="icon filter-icon dateRangeModal hide" aria-label="Filter" id="dateRangeModalForCompleted"></i>
  </div>
</div>

<div class="volunteer tab-content">
  <div class="loading-screen">
    <i class="fa-solid fa-spinner fa-spin-pulse"></i>
  </div>
  <div id="tab1-content" class="tab-content-item">
    <div class="volunteer">
      <div id="taskListPending" class="gridContainer"></div>
      <div class="noItemsMessage hide">No pending Favors to show</div>
    </div>
  </div>
  <div id="tab2-content" class="tab-content-item hidden">
    <div class="volunteer">
      <div id="taskListCompleted" class="gridContainer"></div>
      <div class="noItemsMessage hide">No completed Favors to show</div>
    </div>
  </div>
</div>