<!-- Tab Contents --->
<div class="tabs">
  <div class="tab active" id="tab1">Pending (<span id="favorCountPending">0</span>)</div>
  <div class="tab" id="tab2">Completed (<span id="favorCountCompleted">0</span>)</div>
  <!-- <div class="tab" id="tab3">Cancelled (<span id="favorCountCancelled">0</span>)</div> -->
</div>

<div class="volunteer tab-content">
  <div class="loading-screen">
    <i class="fa-solid fa-spinner fa-spin-pulse"></i>
  </div>
  <div id="tab1-content" class="tab-content-item">
    <div class="viewSwitcher">
      <i class="icon filter-icon dateRangeModal" aria-label="Filter" id="dateRangeModalForPending"></i>
    </div>
    <!-- taskinfo containers (List) -->
    <div class="volunteer">
      <div id="taskListPending" class="gridContainer">
        <div class="loading-screen">
          <i class="fa-solid fa-spinner fa-spin-pulse"></i>
        </div>
      </div>
      <div class="noItemsMessage hide">No pending Favors to show</div>
    </div>
  </div>
  <div id="tab2-content" class="tab-content-item hidden">
    <div class="viewSwitcher">
      <i class="icon filter-icon dateRangeModal" aria-label="Filter" id="dateRangeModalForCompleted"></i>
    </div>
    <!-- taskinfo containers (List) -->
    <div class="volunteer">
      <div id="taskListCompleted" class="gridContainer">
        <div class="loading-screen">
          <i class="fa-solid fa-spinner fa-spin-pulse"></i>
        </div>
      </div>
      <div class="noItemsMessage hide">No completed Favors to show</div>
    </div>
  </div>
  <!-- <div id="tab3-content" class="tab-content-item hidden">
    <div class="viewSwitcher">
      <i class="icon filter-icon dateRangeModal" aria-label="Filter" id="dateRangeModalForCancelled"></i>
    </div>
    <div class="volunteer">
      <div id="taskListCancelled" class="gridContainer">
        <div class="loading-screen">
          <i class="fa-solid fa-spinner fa-spin-pulse"></i>
        </div>
      </div>
      <div class="noItemsMessage hide">No cancelled Favors to show</div>
    </div>
  </div> -->
</div>