<div class="loading-screen">
  <i class="fa-solid fa-spinner fa-spin-pulse"></i>
</div>
<div class="form-section">
  <h2>Personal</h2>

  <label for="firstName">First Name</label>
  <input type="text" id="firstName" required />

  <label for="middleName">Middle Name</label>
  <input type="text" id="middleName" />

  <label for="lastName">Last Name</label>
  <input type="text" id="lastName" required />

  <label for="birthday">Birthday</label>
  <input type="date" id="birthday" required />

  <label for="bio">Bio</label>
  <textarea id="bio"></textarea>
</div>
<div class="form-section">
  <h2>Contact</h2>

  <label for="phone">Phone</label>
  <input type="tel" id="phone" required />

  <label for="email">Email</label>
  <input type="email" id="email" required />

  <label for="address">Address</label>
  <input type="text" id="address" required />
</div>
