<div class="loading-screen">
  <i class="fa-solid fa-spinner fa-spin-pulse"></i>
</div>
<div class="profile-header">
    <div class="user-name-picture">
      <div class="img-wrapper user-picture-wrapper">
        <img src="#" id="profilePic">
      </div>
      <div class="user-name-edit">
        <h2 id="username"></h2>
        <a href="./profile/edit.html" class="rounded-btn link-btn outlined-btn">Edit profile</a>
      </div>
    </div>
  </div>
  <div class="profile-details">
    <div class="info-group" id="personal">
      <table>
        <caption>Personal</caption>
        <tr>
          <th scope="row">Birthday</th>
          <td id="birthday"></td>
        </tr>
        <tr>
          <th scope="row">Bio</th>
          <td id="bio"></td>
        </tr>
      </table>

    </div>
    <div class="info-group" id="contact">
      <table>
        <caption>Contact</caption>
        <tr>
          <th scope="row">Phone</th>
          <td id="phone"></td>
        </tr>
        <tr>
          <th scope="row">Email</th>
          <td id="email"></td>
        </tr>
        <tr>
            <th scope="row">Address</th>
            <td id="address"></td>
          </tr>
      </table>

    </div>
    <div class="info-group" id="emergency-contact">
      <table>
        <caption>Emergency contact</caption>
        <tr>
          <th scope="row">Name</th>
          <td id="emergencyContactName"></td>
        </tr>
        <tr>
          <th scope="row">Phone</th>
          <td id="emergencyContactPhone"></td>
        </tr>
      </table>

    </div>
  </div>