img {
  max-width: 100%;
  height: auto;
  display: block;
}

main.content {
    margin-top: 30px;
}

.user-profile-wrapper {
    display: block;
    margin: auto;
    width: 400px;
}

.user-profile-wrapper .user-profile {
    display: grid;
    grid-template-columns: 5rem 1fr;
    grid-template-rows: 5rem 40%;
    gap: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.user-profile-wrapper .user-profile i {
    grid-column: span 1;
    align-self: center;
    text-align: center;
    font-size: 2rem;
}

.user-profile-wrapper .user-profile .user-info {
    grid-row: span 1;
    align-self: center;
}

.user-profile-wrapper .user-profile .user-info h3 {
    font-weight: bold;
    font-size: clamp(2rem 4vw 4rem);
}

.user-profile-wrapper .user-profile .user-info p {
    font-size: clamp(0.5rem 2vw 2.5rem);
}

.user-profile-wrapper .user-profile  #contactBtn {
    /* grid-column: 2; */
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-radius: 20px;
    border: none;
    background-color: rgb(184, 184, 184);
}

.user-profile-wrapper .detail-instruction {
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding: 2rem;
    border-radius: 10px;
    background-color: rgb(184, 184, 184);
}

.user-profile-wrapper .set {
    display: flex;
    justify-content: space-between;
}

.user-profile-wrapper .set button {
    border-radius: 50px;
    border: none;
    padding: 0.2rem 2rem;

}

#overlay {
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}
  
main {
    margin-top: 10rem;
    margin-left: auto;
    margin-right: auto;
}

.confirm-wrapper {
    margin: auto;
    background-color: rgb(233, 233, 233);
    text-align: center;
    padding: 5rem;
    border-radius: 30px;
    width: 400px;
    height: 400px;
}
  
.confirm-wrapper .user-profile {
    display: grid;
    grid-template-columns: 1rem 1fr;
    margin-top: 1rem;
}
  
.confirm-wrapper .user-profile i {
    grid-column: 1 / 2;
    align-content: center;
}
  
.confirm-wrapper .set {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
}
  
.confirm-wrapper .set button {
    border: none;
    padding: 0.2rem 1rem 0.2rem 1rem;
    border-radius: 50px;
}
  
.confirm-wrapper .set #confirmBtn {
    background-color: rgb(184, 184, 184);
    flood-color: white;
}  