img {
  max-width: 100%;
  height: auto;
  display: block;
}
  
.user-profile img {
  border-radius: 50%;
}
  
#backBtn,
#cancelBtn,
#acceptBtn,
#confirmBtn {
  cursor: pointer;
}
  
.user-profile-wrapper {
  display: block;
  margin: auto;
  width: 100%;
  
  @media screen and (min-width: 800px) {
    width: 400px;
  }
}
  
.user-profile-wrapper .user-profile {
  display: grid;
  grid-template-columns: 3.3rem repeat(3, 1fr);
  /* grid-template-rows: 5rem 40%; */
  gap: 1rem;
  margin: 1rem 0;
}

.user-profile-wrapper .user-profile .user-info {
  grid-column: 2 / -1;
}
  
.user-profile-wrapper .user-profile button {
  grid-column: 2 / 3;
  justify-content: center;
}
    
  
.user-profile-wrapper .user-profile #contactBtn {
  visibility: hidden;
  padding: .1rem 1.3rem;
  margin-top: 0;
  margin-bottom: 1rem;
  border-radius: 20px;
  border: none;
  background-color: var(--primary);
}
  
.schedule nav {
  margin: 1.5rem 0;
}


.schedule nav li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 0.2rem solid var(--background-gray);
  padding: 1rem 0;
}

.schedule nav li:last-child {
  border-bottom: 0.2rem solid var(--background-gray);
}

.user-profile-wrapper #icons,
.user-profile-wrapper #acOrDecBtn,
.user-profile-wrapper #comOrCanBtn
 {
  visibility: hidden;
} 

#icons {
  text-align: center;
  font-size: 3rem;

  i {
      margin-left: 2rem; 
      margin-right: 2rem;
  }
}

.user-profile-wrapper .set,
#confirm-overlay .set,
#accept-overlay .set,
#schedule-conflict .set {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}
  
.user-profile-wrapper .set button {
  border-radius: 50px;
  border: none;
  padding: 0.2rem 2rem;
}
  
#confirm-overlay,
#accept-overlay,
#schedule-conflict,
#complete-confirm-overlay,
#task-completed-overlay {
  display: grid;
  align-content: center;
  position: fixed; /* Sit on top of the page content */
  display: none; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
}
  
main {
  margin-top: 10rem;
  
  @media screen and (min-width: 800px) {
    margin-left: auto;
    margin-right: auto;
  }
}
  
.confirm-wrapper {
  margin: auto;
  background-color: rgb(233, 233, 233);
  text-align: center;
  padding: 2rem 3rem;
  border-radius: 30px;
  height: 400px;
  
  @media screen and (min-width: 800px) {
    width: 400px;
  }
}
  
.confirm-wrapper .user-profile {
  display: grid;
  grid-template-columns: 1rem 1fr;
  margin-top: 1rem;
}
  
.confirm-wrapper .user-profile i {
  grid-column: 1 / 2;
  align-content: center;
}
    
.confirm-wrapper .set button {
  border: none;
  padding: 0.2rem 1rem 0.2rem 1rem;
  border-radius: 50px;
}
  
.confirm-wrapper .set #confirmBtn {
  background-color: rgb(184, 184, 184);
  flood-color: white;
}

#icons-overlay {
  font-size: 3rem;
}

#complete-confirm-overlay .set,
#task-completed-overlay .set {
  display: flex;
  justify-content: center;
  padding-top: 1rem;
}