img {
  max-width: 100%;
  height: auto;
  display: block;
}

#elderPhoto {
  border-radius: 50%;
  width: 100px;
  height: 100px;
}

#elderPhoto2,
#elderPhoto3 {
  border-radius: 50%;
  width: 60px;
  height: 60px;
}

#backBtn,
#cancelBtn,
#acceptBtn,
#confirmBtn {
  cursor: pointer;
}

.user-profile-wrapper {
  display: block;
  width: 100%;
}

.user-profile-wrapper .user-profile {
  display: flex;
  gap: 1rem;
  margin: 1rem 0;
  align-items: center;
}

.user-profile-wrapper .user-profile .user-info {
  display: flex;
  flex-flow: column nowrap;
  gap: 0.2rem;
}

.user-profile-wrapper .user-profile button {
  grid-column: 2 / 3;
  justify-content: center;
}

.user-profile-wrapper .user-profile #contactBtn {
  visibility: hidden;
  padding: 0.1rem 1.3rem;
  margin-top: 0;
  border-radius: 20px;
  border: none;
  align-self: start;
}

.schedule nav li {
  display: flex;
  flex: 1 1 auto;
  align-items: center;
  border-top: 1px solid var(--trustworthyBlue200);
  padding: 1rem 0;
  gap: 1rem;
}

.schedule nav li div {
  flex: 0 0 100px;
  align-items: center;
  padding: 0rem;
}

.schedule .content {
  display: flex;
  padding-left: 0;
}

.schedule nav li p {
  flex: 1 1 auto;

  @media screen and (min-width: 800px) {
    text-align: left;
  }
}

.user-profile-wrapper #icons,
.user-profile-wrapper #acOrDecBtn,
.user-profile-wrapper #comOrCanBtn {
  visibility: hidden;
}

.set {
  display: flex;
  justify-content: center;
  gap: 2rem;
  padding-top: 2rem;
}

.user-profile-wrapper .set button,
.confirm-wrapper .set button {
  border-radius: 50px;
  border: none;
  padding: 0rem 2rem;
}

main {
  margin-top: 10rem;
}

.confirm-wrapper {
  display: flex;
  flex-flow: column nowrap;
  gap: 1rem;
  margin: auto 1rem;
  background-color: rgb(233, 233, 233);
  text-align: left;
  padding: 2rem;
  border-radius: 30px;

  @media screen and (min-width: 800px) {
    width: 370px;
    margin: auto;
  }
}

.confirm-wrapper .message {
  display: flex;
  flex-flow: column nowrap;
  gap: 1rem;
  text-align: center;
}

.confirm-wrapper .message h2 {
  color: var(--primary) !important;
  padding: 0;
  text-align: center;
}

.confirm-wrapper .message .user-profile {
  display: grid;
  grid-template-columns: 4rem 1fr;
  gap: 0.5rem;
  text-align: left;
}

.confirm-wrapper .message .user-profile i {
  grid-column: 1 / 2;
  align-content: center;
}

.confirm-wrapper input[type="checkbox"] {
  accent-color: var(--primary);
  margin-right: 0.5rem;
}

.confirm-wrapper i {
  display: block;
  text-align: center;
}

.confirm-wrapper .set #confirmBtn {
  background-color: rgb(184, 184, 184);
  flood-color: white;
}

#schedule-conflict .set {
  justify-content: center;
}

textarea {
  width: 100%;
  height: 60px;
  padding: 10px;
  margin-top: 1rem;
  border: 1px solid var(--primary);
  border-radius: 5px;
  resize: vertical;
  font-size: 16px;
}

.close-icon {
  text-align: right;
}

/* CREATE TOGGLE FOR GOOD&BAD ICONS COLOR CHANGE======== */

.good-bad {
  text-align: center;
}

.like,
.dislike {
  cursor: pointer;
}

#colorToggle {
  display: none;
}

.like:after {
  display: block;
}

.dislike:after {
  display: none;
}

#colorToggle:checked + .good-bad > .like:after {
  display: none;
}

#colorToggle:checked + .good-bad > .dislike:after {
  display: block;
}

/* BUTTONS COLOR=============== */
#acceptBtn,
#confirmCompleteBtn,
#confirmBtn,
#conflictConfirmBtn,
#myFavorsBtn,
#completeBtn,
#cancelFavorBtn,
#cancel-completeBtn,
#exploreBtn {
  background-color: var(--caringOrange) !important;
}

#cancelBtn {
  color: var(--caringOrange) !important;
  border-color: var(--caringOrange) !important;
}

/* TEXT ON TIME, FROM, END and NOTE============= */
.schedule a {
  color: var(--primary) !important;
  font-weight: bold;
}
