img {
  max-width: 100%;
  height: auto;
  display: block;
}
  
#elderPhoto,
#elderPhoto2,
#elderPhoto3 {
  border-radius: 50%;
}
  
#backBtn,
#cancelBtn,
#acceptBtn,
#confirmBtn {
  cursor: pointer;
}
  
.user-profile-wrapper {
  display: block;
  /* margin: auto; */
  width: 100%;
}
  
.user-profile-wrapper .user-profile {
  display: grid;
  grid-template-columns: 3.5rem 8rem 5rem 1fr;
  /* grid-template-rows: 5rem 40%; */
  gap: 1rem;
  margin: 1rem 0;
}

.user-profile-wrapper .user-profile .user-info {
  grid-column: 2 / -1;
}
  
.user-profile-wrapper .user-profile button {
  grid-column: 2 / 3;
  justify-content: center;
  font-size: 1.2rem;
}
    
  
.user-profile-wrapper .user-profile #contactBtn {
  visibility: hidden;
  padding: .1rem 1.3rem;
  margin-top: 0;
  margin-bottom: 1rem;
  border-radius: 20px;
  border: none;
  background-color: var(--primary);
}
  
.schedule nav {
  margin: 1.5rem 0;
}

.schedule nav ul {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
}

.schedule nav li {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  align-items: center;
  border-top: 0.2rem solid var(--background-gray);
  padding: 1rem;
  padding-left: 0;
  gap: 1rem;
}

.schedule nav li:last-child {
  border-bottom: 0.2rem solid var(--background-gray);
}

.schedule .content {
  display: flex;
  padding-left: 0;
}

.schedule nav li p {
  display: grid;
  grid-column: 2 / 3;
  text-align: end;
}

.user-profile-wrapper #icons,
.user-profile-wrapper #acOrDecBtn,
.user-profile-wrapper #comOrCanBtn
 {
  visibility: hidden;
} 

#icons {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

#thumbs-up-white-icon {
  display: none;
}

.user-profile-wrapper .set,
#confirm-overlay .set,
#accept-overlay .set,
#schedule-conflict .set {
  display: flex;
  justify-content: center;
  gap: 5rem;
  margin-top: 1rem;
}
  
.user-profile-wrapper .set button,
.confirm-wrapper .set button {
  border-radius: 50px;
  border: none;
  padding: 0.2rem 2rem;
  font-size: 1.2rem;
}

#confirm-overlay,
#accept-overlay,
#schedule-conflict,
#complete-confirm-overlay,
#task-completed-overlay,
#cancel-favor-overlay {
  display: grid;
  align-content: center;
  position: fixed; /* Sit on top of the page content */
  display: none; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
}

main {
  margin-top: 10rem;
  
  /* @media screen and (min-width: 800px) {
    margin-left: auto;
    margin-right: auto;
  } */
}
  
.confirm-wrapper {
  flex-shrink: 0;
  margin: auto;
  background-color: rgb(233, 233, 233);
  text-align: center;
  padding: 2rem 3rem;
  border-radius: 30px;

  @media screen and (min-width: 800px) {
    width: 370px;
  }
}

.confirm-wrapper i {
  display: block;
}

.close-icon {
  text-align: right;
}



  
.confirm-wrapper .user-profile {
  display: grid;
  grid-template-columns: 3.5rem 1fr;
  margin-bottom: 1rem;
  gap: 1rem;

  .user-info {
    text-align: left;
  }
}
  
.confirm-wrapper .user-profile i {
  grid-column: 1 / 2;
  align-content: center;
}

.confirm-wrapper .set #confirmBtn {
  background-color: rgb(184, 184, 184);
  flood-color: white;
}

#icons-overlay {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-bottom: 1rem;
}

#icons-overlay img {
  margin: 0;
}

#complete-confirm-overlay .set,
#task-completed-overlay .set {
  display: flex;
  justify-content: center;
  padding-top: 1rem;
}

#schedule-conflict .set {
  justify-content: center;
}

#cancel-favor-overlay #icons-overlay {
  display: block;

}

form {
  text-align: left;
  margin: 1rem;

}

textarea {
  width: calc(100% - 20px);
  height: 60px;
  padding: 10px;
  margin-top: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

#cancel-favor-overlay .set {
  margin-left: 3rem;
}
