body {
  visibility: hidden;
}

/* -------------------------------------------------- */
/* Styles for Step Wizard                             */
/* -------------------------------------------------- */
.steps-counter {
  position: relative;
  display: flex;
  justify-content: space-between;
  gap: 0.5rem;
  align-items: center;
}

.step1,
.step2,
.step3,
.step4 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.stepNumber {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  background-color: #bfbfbf;
  color: white;
  border-radius: 50%;
  margin-right: 0.5rem;
}
.stepText {
  font-size: 1rem;
  display: none;
}
.stepLine2,
.stepLine3,
.stepLine4 {
  flex-grow: 1;
  height: 2px;
  background-color: #bfbfbf;
}
.stepLineActive {
  background-color: var(--primary);
}
.stepActive {
  background-color: var(--primary);
}
.textActive {
  font-weight: bold;
}

/* -------------------------------------------------- */
/* Styles for Selection List                          */
/* -------------------------------------------------- */

ul.selection-list {
  margin-bottom: 1rem;

  li {
    font-size: 1.1rem;
    border-left: 4px solid var(--primary);
    padding-left: 0.5rem;
    margin-bottom: 0.75rem;
    font-weight: bold;
  }
}

form {
  /* border: thin solid gray; */
  margin: auto;
  min-width: 400px;
  min-height: 50vh;
  width: 100%;
  /* max-width: 90vw; */
  display: flex;
  flex-flow: column wrap;
  gap: 2rem;
  box-sizing: border-box;
}

.step {
  padding: 1rem;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  flex: 1;
}

.step h2 {
  text-align: center;
}

#step-1 .form-group {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  gap: 1rem;
  flex: 1;
}

#step-2 .form-group,
#step-3 .form-group {
  display: flex;
  flex-flow: column wrap;
}

#step-2 .form-group input,
#step-3 .form-group input,
#step-2 .form-group select,
#step-3 .form-group select {
  margin-bottom: 1rem;
  flex-grow: 1;
}

#step-2 .form-group input,
#step-2 .form-group select,
#step-3 .form-group input,
#step-3 .form-group select {
  height: 50px;
  padding: 0.5rem;
  font-size: 1.2rem;
  border-radius: 6px;
  border: 1px solid var(--primary);
}

#step-4 .form-group textarea {
  padding: 0.5rem;
  font-size: 1.2rem;
  border-radius: 6px;
  border: 1px solid var(--primary);
}

#step-2 .form-group input:focus,
#step-3 .form-group input:focus,
#step-4 .form-group textarea:focus {
  outline: none;
  border: 1px solid var(--primary);
  background-color: #d0e1e7;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

#step-2 .form-group input:not(:placeholder-shown),
#step-3 .form-group input:not(:placeholder-shown) {
  /* background-color: #D0E1E7; */
}

#step-2 .form-group label,
#step-3 .form-group label,
#step-4 .form-group label {
  display: block;
  margin-right: 0.5rem;
  font-size: 1.2rem;
  font-weight: bold;
  margin: 1rem 0;
}

#step-4 textarea {
  display: flex;
  width: 100%;
  /* max-width: 400px; */
  height: 100px;
  margin-bottom: 1rem;
}

.summary {
  padding: 1rem;
}

.summary h2 {
  text-align: center;
}

.favor-summary {
  padding: 0 1rem 1rem 1rem;
  border: 1px solid var(--primary);
  margin: 2rem 0;
  border-radius: 8px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

#statusList {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  font-size: 1.1rem;
  font-weight: bold;
}

.status {
  display: flex;
  align-items: center;
}

/* Default status when creating a task */
.statusColor {
  display: inline-block;
  background-color: #ffcd29;
  border-radius: 50%;
  height: 14px;
  width: 14px;
  margin-right: 0.5rem;
}

ul#summaryList {
  margin-bottom: 1rem;

  li {
    font-size: 1.1rem;
    border-left: 4px solid var(--primary);
    padding-left: 0.5rem;
    margin-bottom: 0.75rem;
    font-weight: bold;
  }
}

.favorOption:has(input[type="radio"]:checked) {
  color: white;
  background-color: var(--primary);
}
.favorOption {
  flex: 1;
  box-sizing: border-box;
  text-align: center;
  /* border: thin solid gray; */
  padding: 1rem 2rem;
  border-radius: 10px;
  transition: 0.25s;
  background-color: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  font-size: 1.2rem;
  font-weight: bold;

  /* Center text */
  display: flex;
  align-items: center;
  justify-content: center;
}
.favorOption input {
  visibility: hidden;
}
.form-navigation {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  padding: 1rem;
}
.favorOption:hover {
  cursor: pointer;
  /* color: white; */
  /* background-color: var(--primary); */
  background-color: rgb(21 106 133 / .25);
}

.favor-buttons {
  display: flex;
  justify-content: center;
}

.favor-buttons button {
  padding-left: 1rem;
  padding-right: 1rem;
  margin: 0 1rem;
}

.btn-active {
  color: white !important;
  background-color: var(--primary) !important;
}

.home-button {
  display: flex;
  justify-content: center;
}

#errorMsg {
  text-align: center;
  color: red;
  position: relative;
  top: -10px;
}

#errorMsg2 {
  color: red;
  position: relative;
  top: -20px;
}

.mapHidden {
  display: none;
}

@media only screen and (min-width: 800px) {
  #step-1 .form-group {
    flex-flow: row wrap;
    gap: 2rem;
  }

  #step-2 .form-group,
  #step-3 .form-group {
    /* flex-flow: row nowrap; */
  }

  #step-2 .form-group input,
  #step-3 .form-group input {
    /* margin-right: 2rem; */
  }

  #step-2 .form-group label,
  #step-3 .form-group label {
    /* margin-right: 0.5rem; */
  }

  .favorOption {
    flex: 1 0 25%;
  }

  .stepText {
    display: block;
  }

  #statusList {
    flex-flow: row nowrap;
    justify-content: space-evenly;
  }

  .home-button {
    justify-content: end;
  }
}

/* Cocoy, please adjust the folloeing CSS             */
/* -------------------------------------------------- */
/* Map                                                */
/* -------------------------------------------------- */

#startAddress,
#endAddress {
  font-size: 1em;
}

#startMap,
#endMap {
  height: 30vh;
  width: 100%;
}

#step-3 .form-group {
  flex-flow: row wrap;
  gap: 0.5rem;
  margin-bottom: 1rem;
}

#step-3 .form-group .address {
  flex: 0 0 100%;
  @media screen and (min-width: 800px) {
  }
}

#step-3 .form-group .map {
  flex: 0 0 100%;
}

/* Cocoy, please adjust the folloeing CSS             */
/* -------------------------------------------------- */
/* Mic                                                */
/* -------------------------------------------------- */
.form-group {
  position: relative;
}

.mic {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;

  position: absolute;
  top: 78px;
  right: 0.5rem;
}
