body {
  visibility: hidden;
}

/* -------------------------------------------------- */
/* Styles for Step Wizard                             */
/* -------------------------------------------------- */
.steps-counter {
  display: grid;
  grid-template-columns: auto 1fr auto 1fr auto 1fr auto;
  align-items: center;
  padding: 1rem 4rem;
}

.step1,
.step2,
.step3,
.step4 {
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.3;
}

.stepNumber {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  background-color: rgb(21, 106, 133);
  color: white;
  border-radius: 50%;

  .check-white-icon {
    margin-top: 4px;
  }
}

.stepText {
  font-size: 1rem;
  font-weight: bold;
  display: none;
  color: rgb(21, 106, 133);
}

.stepLine2,
.stepLine3,
.stepLine4 {
  flex-grow: 1;
  height: 10px;
  background-color: rgb(21 106 133 / 0.2);
}

.stepLineActive {
  background-color: var(--primary);
  left: 0;
  width: 0;
  animation: lineAnimate 1.2s ease-in-out forwards;
}

.stepActive {
  background-color: var(--primary);
}

.textActive {
  color: var(--text);
}

/* -------------------------------------------------- */
/* Animation                                          */
/* -------------------------------------------------- */

@keyframes stepAnimate {
  0% {
    transform: scale(1);
    opacity: 0.3;
  }

  50% {
    transform: scale(1.4);
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.stepAnimate {
  animation: stepAnimate 0.75s 1.5s ease-in-out forwards;
}

@keyframes lineAnimate {
  0% {
    width: 0;
  }

  100% {
    width: 100%;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/* -------------------------------------------------- */
/* Styles for Selection List                          */
/* -------------------------------------------------- */

ul.selection-list {
  margin-bottom: 1rem;

  li {
    font-size: 1.1rem;
    border-left: 4px solid var(--primary);
    padding-left: 0.5rem;
    margin-bottom: 0.75rem;
    font-weight: bold;

    span {
      font-weight: normal;
    }
  }
}

form {
  /* border: thin solid gray; */
  margin: auto;
  min-width: 400px;
  min-height: 50vh;
  width: 100%;
  /* max-width: 90vw; */
  display: flex;
  flex-flow: column wrap;
  gap: 2rem;
  box-sizing: border-box;
}

/* Change color of date and time input icon */
input[type="date"]::-webkit-calendar-picker-indicator,
input[type="time"]::-webkit-calendar-picker-indicator {
  filter: invert(0.25) sepia(1) saturate(3) hue-rotate(165deg);
}

.step {
  padding: 1rem;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  flex: 1;
}

.step h2 {
  text-align: center;
}

#step-1 .form-group {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  gap: 1rem;
  flex: 1;
}

#step-2 .form-group,
#step-3 .form-group {
  display: flex;
  flex-flow: column wrap;
}

#step-2 .form-group input,
#step-3 .form-group input,
#step-2 .form-group select,
#step-3 .form-group select {
  margin-bottom: 1rem;
  flex-grow: 1;
}

#step-2 .form-group input,
#step-2 .form-group select,
#step-3 .form-group input,
#step-3 .form-group select {
  height: 50px;
  padding: 0.5rem;
  font-size: 1.2rem;
  border-radius: 6px;
  border: 1px solid var(--primary);
}

#step-4 .form-group textarea {
  padding: 0.5rem;
  font-size: 1.2rem;
  border-radius: 6px;
  border: 1px solid var(--primary);
}

#step-2 .form-group input:focus,
#step-3 .form-group input:focus,
#step-4 .form-group textarea:focus {
  outline: none;
  border: 1px solid var(--primary);
  background-color: #d0e1e7;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

#step-2 .form-group label,
#step-3 .form-group label,
#step-4 .form-group label {
  display: block;
  margin-right: 0.5rem;
  font-size: 1.2rem;
  font-weight: bold;
  margin: 1rem 0;
}

#step-4 textarea {
  display: flex;
  width: 100%;
  height: 100px;
  margin-bottom: 1rem;
  resize: vertical;
}

.summary {
  padding: 1rem;
  display: grid;
  justify-content: center;
}

.summary h2 {
  text-align: center;
}

.favor-summary {
  padding: 0 1rem 1rem 1rem;
  border: 1px solid var(--primary);
  margin: 2rem 0;
  border-radius: 8px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  background-color: #fff;
  max-width: 600px;
}

#statusList {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  font-size: 1.1rem;
  font-weight: bold;

  div:nth-of-type(2) {
    font-weight: normal;
  }
}

.status {
  display: flex;
  align-items: center;
}

/* Default status when creating a task */
.statusColor {
  display: inline-block;
  background-color: #ffcd29;
  border-radius: 50%;
  height: 14px;
  width: 14px;
  margin-right: 0.5rem;
}

ul#summaryList {
  margin-bottom: 1rem;

  li {
    font-size: 1.1rem;
    /* padding-left: 0.5rem; */
    /* margin-bottom: 0.75rem; */
    padding: 0.5rem 0 0 0;
    font-weight: bold;
    /* border-bottom: 1px dotted var(--primary); */
  }

  div:nth-of-type(2) {
    margin-left: 36px;
    margin-top: -10px;
    line-height: 1.2;
  }

  div {
    display: flex;
  }

  i {
    width: 30px;
    margin-top: -0.15rem;
    text-align: center;
    margin-right: 6px;
  }

  span {
    font-weight: normal;
    margin-top: 0;
  }
}

.favorOption:has(input[type="radio"]:checked) {
  color: white;
  background-color: var(--primary);
}
.favorOption {
  flex: 1;
  box-sizing: border-box;
  text-align: center;
  /* border: thin solid gray; */
  padding: 1rem 2rem;
  border-radius: 10px;
  transition: 0.25s;
  background-color: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  font-size: 1.2rem;
  font-weight: bold;

  /* Center text */
  display: flex;
  align-items: center;
  justify-content: center;
}
.favorOption input {
  visibility: hidden;
}
.form-navigation {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  padding: 1rem;
}
.favorOption:hover {
  cursor: pointer;
  /* color: white; */
  /* background-color: var(--primary); */
  background-color: rgb(21 106 133 / 0.25);
}

.favor-buttons {
  display: flex;
  justify-content: center;
}

.favor-buttons button {
  padding-left: 1rem;
  padding-right: 1rem;
  margin: 0 1rem;
}

.btn-active {
  color: white !important;
  background-color: var(--primary) !important;
}

.home-button {
  display: flex;
  justify-content: center;
}

#backToHome {
  padding-left: 1rem;
  padding-right: 1rem;
}

#errorMsg {
  text-align: center;
  color: red;
  position: relative;
  top: -10px;
}

#errorMsg2 {
  color: red;
  position: relative;
  top: -20px;
}

.mapHidden {
  display: none;
}

.home-address {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;

  #homeAddressBtn,
  #homeAddressBtnEnd {
    display: flex;
    justify-self: end;
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

/* -------------------------------------------------- */
/* Desktop                                            */
/* -------------------------------------------------- */

@media only screen and (min-width: 800px) {
  #step-1 .form-group {
    flex-flow: row wrap;
    gap: 2rem;
  }

  .favorOption {
    flex: 1 0 25%;
  }

  .stepText {
    display: block;
  }

  #statusList {
    flex-flow: row nowrap;
    justify-content: space-evenly;
  }

  ul#summaryList {
    padding: 0 4rem;

    li {
      border-bottom: 1px dotted var(--primary);
      display: grid;
      grid-template-columns: 1fr 1fr;
      align-items: start;
    }

    li:last-child {
      border-bottom: none;
    }

    div:nth-of-type(2) {
      justify-content: end;
      text-align: right;
      margin-top: 0;
    }

    span {
      margin-top: 3px;
      margin-bottom: 0.5rem;
    }
  }

  .stepNumber {
    margin-right: 0.5rem;
  }

  .steps-counter {
    gap: 0.5rem;
  }

  .stepLine2,
  .stepLine3,
  .stepLine4 {
    height: 2px;
  }

  .steps-counter {
    padding: 1rem;
  }
}

/* Cocoy, please adjust the folloeing CSS             */
/* -------------------------------------------------- */
/* Map                                                */
/* -------------------------------------------------- */

#step-3 .form-group input#startAddress,
#step-3 .form-group input#endAddress {
  font-size: 1em;
  padding: 0.5rem 3.5rem 0.5rem 0.5rem;
}

#startMap,
#endMap {
  height: 30vh;
  width: 100%;
}

#step-3 .form-group {
  flex-flow: row wrap;
  gap: 0.5rem;
  margin-bottom: 1rem;
}

#step-3 .form-group .address {
  flex: 0 0 100%;
  @media screen and (min-width: 800px) {
  }
}

#step-3 .form-group .map {
  flex: 0 0 100%;
}

/* Cocoy, please adjust the folloeing CSS             */
/* -------------------------------------------------- */
/* Mic                                                */
/* -------------------------------------------------- */
.form-group {
  position: relative;
}

#step-4 .form-group textarea#notes {
  font-size: 1em;
  padding: 0.5rem 3.5rem 0.5rem 0.5rem;
}

.mic {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;

  position: absolute;
  top: 73px;
  right: 0.5rem;
}

.mic-notes {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;

  position: absolute;
  bottom: 20px;
  right: 0.5rem;
}
